body {
  background-color: lightgray;
}

table, tr, td {
  border: 1px solid black;
}

input {
  background-color: white;
}

input:valid {
  background-color: palegreen;
}

/*input:invalid {
  background-color: lightpink;
}*/